.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  padding: 1rem 1rem;
  width: 5rem;
}

.imageContainer {
  height: 4rem;
  width: 3rem;
}

.image {
  object-fit: contain;
}

.descriptionContainer, .tagContainer > p {
  font-family: 'Roboto';
  font-size: 1.4rem;
}

